.rest {
    padding-bottom: 180px;

    @media (max-width:600px) {
        padding-bottom: 120px;
    }
}

.rest__title {
    text-align: center;

    &.rest__title:not(:last-child) {
        margin-bottom: 42px
    }

    @media (max-width:600px) {
        margin-bottom: 32px
    }
}

.rest__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 32px 400px 32px 1fr;
    grid-template: auto/1fr 400px 1fr;
    gap: 32px;
    grid-template-areas: "text1 img text2";

    @media (max-width:1320px) {
        -ms-grid-columns: 1fr 300px 1fr;
        grid-template-columns: 1fr 300px 1fr
    }

    @media (max-width:991px) {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "text1 text1 text1" "text2 text2 text2" ". img ."
    }

    @media (max-width:768px) {
        grid-template-areas: "text1 text1 text1" "text2 text2 text2" "img img img"
    }

}

.rest__text {
    text-align: center;
    color: $primary-color;
}

.rest__text_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text1;

    @media (max-width:991px) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }

    @media (max-width:768px) {

        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }
}

.rest__text_2 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: text2;

    @media (max-width:991px) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    @media (max-width:768px) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }
}

.rest__img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    width: 100%;
    height: 500px;
    grid-area: img;

    @media (max-width:991px) {
        height: 400px;
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }

    @media (max-width:768px) {

        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3
    }

    @media (max-width:600px) {
        height: 300px
    }
}

.rest__img picture img {
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}