.slots {
    padding-top: 160px;
    padding-bottom: 180px;

    @media (max-width:600px) {
                padding-bottom: 120px
            }
        
    
        @media (max-width:991px) {
                padding-top: 130px
        }
    
        @media (max-width:600px) {
                padding-top: 100px
        }
}

.slots__title {
    color: $primary-color;
    text-align: center
}

.slots__title:not(:last-child) {
    margin-bottom: 42px
}

@media (max-width:600px) {
    .slots__title:not(:last-child) {
        margin-bottom: 32px
    }
}

.slots__texts {
    text-align: center
}

.slots__texts:not(:last-child) {
    margin-bottom: 42px
}

@media (max-width:600px) {
    .slots__texts:not(:last-child) {
        margin-bottom: 32px
    }
}

.slots__text {
    color: $primary-color;
}

.slots__text:not(:last-child) {
    margin-bottom: 16px
}

.slots__images {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template: auto/repeat(2, 1fr);
    gap: 10px
}

@media (max-width:600px) {
    .slots__images {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr
    }
}

.slots__image {
    height: 400px
}

@media (max-width:991px) {
    .slots__image {
        height: 350px
    }
}

@media (max-width:600px) {
    .slots__image {
        height: 300px
    }
}

.slots__image picture img {
    border-radius: 12px;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}